<h1 class="mt-5">Your Images</h1>

<%#= form_with url: "/search", method: :get do |form| %>
  <%#= form.label :query, "Search for:" %>
  <%#= form.text_field :query %>
  <%#= form.submit "Search" %>
<%# end %>

<%= form_tag "/bulk_action", method: :post do %>
  <%= select_tag("bulk_action", options_for_select(get_bulk_actions), { :class => 'my_style_class' }) %>
  <%= submit_tag "Submit" %>

  <table class="table table-bordered">
    <thead class="thead-light">
    <th scope="col"><%= check_box(nil, nil, {id: "selectAll"}, 0, {checked: false}) %></th>
    <th scope="col">Name</th>
    </thead>
    <tbody>
    <% @img_rows.each do |img| %>
      <%= render partial: "image_row", locals: { img: img } %>
    <% end %>
    </tbody>
  </table>

<% end %>
