<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "Matthew's Image Repo", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= active_url(root_path) %>">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= active_url(new_image_row_path) %>">
            <%= link_to "Upload", new_image_row_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Marketplace", new_image_row_path, class: "nav-link disabled" %>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container main-container" role="main">
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </main>
  </body>
</html>
